<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetuWine - Her yudumda mutluluk</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/modernizr-2.6.2.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">MetuWine</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Sipariş</a></li>
            <li><a href="/gorusoneri">Görüş - Öneri</a></li>
            <li><a href="/iletisim">İletişim</a></li>
          </ul>
        </div>
      </div>
    </div>
	<div class="jumbotron">
      <h1>MetuWine - Her yudumda mutluluk</h1>
      <p class="lead">Denizli - Bekilli'deki fabrikamızın ev yapımı atölyesinden gelen yumuşak içimli şaraplarımız 1.5 litrelik şişelerde sunulmaktadır. </p>
    </div>
<center><div class="sagkutu" style="background:#e8e8e8;">
    <iframe frameborder="0" width="1200" height="1000" src="https://www.123contactform.com/form-2653934/MetuWine"></iframe>
    <div style="text-align: center;line-height: 23px;border-top: solid 1px #ccc; color: #666; margin-top: 5px;box-shadow: 0 -1px 3px #ccc;">
    </div></center>

    <div class="container body-content">
      <hr>
      <footer>
        <p>&copy; MetuWine</p>
      </footer>
    </div>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/respond.js"></script>
  </body>
</html>